[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aohz
[access "refs/for/refs/*"]
	read = group user/aohz
	push = group user/aohz
	label-Code-Review = -2..+2 group user/aohz
	label-Verified = -1..+1 group user/aohz
	rebase = group user/aohz
	removeReviewer = group user/aohz
	submit = group user/aohz
[access "refs/heads/*"]
	read = group user/aohz
	create = group user/aohz
	push = +force group user/aohz
	pushMerge = group user/aohz
[access "refs/tags/*"]
	push = +force group user/aohz
	pushTag = group user/aohz
	pushSignedTag = group user/aohz
